### Libraries

In [456]:
import geopandas as gpd
import pandas as pd

### Loading Data

In [457]:
seccions = [
    4815075, 4815078, 4815079, 4815081, 4815083, 4815084, 4815085, 4815086, 4815087,
    4815090, 4815091, 4815096, 4815097, 4815098, 4815099, 4815425, 4815428, 4815429,
    4815440, 4815441
]

# Dictionary to store the GeoDataFrames
street_info_dict = {}

for sec in seccions:
    geojson_file_path_street = rf'STREETS_NAV/SREETS_NAV_{sec}.geojson'
    try:
        street_info_dict[sec] = gpd.read_file(geojson_file_path_street)
    except Exception as e:
        print(f"Error reading file for section {sec}: {e}")

In [458]:
street_name_dict = {}

for sec in seccions:
    geojson_file_path_street_name = rf'STREETS_NAMING_ADDRESSING/SREETS_NAMING_ADDRESSING_{sec}.geojson'
    try:
        street_name_dict[sec] = gpd.read_file(geojson_file_path_street_name)
    except Exception as e:
        print(f"Error reading file for section {sec}: {e}")

In [459]:
merged_dict = {}

for sec in seccions:
    try:
        df_info = street_info_dict[sec]
        df_name = street_name_dict[sec]
        
        merged = df_info.merge(df_name, on='geometry', suffixes=('_info', '_name'))
        merged_dict[sec] = merged
        
    except Exception as e:
        print(f"Error merging section {sec}: {e}")

In [460]:
pois_dic = {}

for sec in seccions:
    try:
        pois_dic[sec] = pd.read_csv(rf'POIs\POI_{sec}.csv')
    except Exception as e:
        print(f"Error reading POI file for section {sec}: {e}")

C:\Users\olgad\AppData\Local\Temp\ipykernel_4456\2409658372.py:5: DtypeWarning: Columns (9,10,27) have mixed types. Specify dtype option on import or set low_memory=False.
  pois_dic[sec] = pd.read_csv(rf'POIs\POI_{sec}.csv')
C:\Users\olgad\AppData\Local\Temp\ipykernel_4456\2409658372.py:5: DtypeWarning: Columns (27,35) have mixed types. Specify dtype option on import or set low_memory=False.
  pois_dic[sec] = pd.read_csv(rf'POIs\POI_{sec}.csv')

## Data Cleaning process

In [461]:
pois_dic[4815075].columns

Index(['Unnamed: 0', 'LINK_ID', 'POI_ID', 'SEQ_NUM', 'FAC_TYPE', 'POI_NAME',
       'POI_LANGCD', 'POI_NMTYPE', 'POI_ST_NUM', 'ST_NUM_FUL', 'ST_NFUL_LC',
       'ST_NAME', 'ST_LANGCD', 'POI_ST_SD', 'ACC_TYPE', 'PH_NUMBER',
       'CHAIN_ID', 'NAT_IMPORT', 'PRIVATE', 'IN_VICIN', 'NUM_PARENT',
       'NUM_CHILD', 'PERCFRREF', 'VANCITY_ID', 'ACT_ADDR', 'ACT_LANGCD',
       'ACT_ST_NAM', 'ACT_ST_NUM', 'ACT_ADMIN', 'ACT_POSTAL', 'AIRPT_TYPE',
       'ENTR_TYPE', 'REST_TYPE', 'FOOD_TYPE', 'ALT_FOOD', 'REG_FOOD',
       'RSTR_TYPE', 'OPEN_24', 'DIESEL', 'BLD_TYPE'],
      dtype='object')

### prueba

lets analyze the first df just to confirm

In [462]:
df_4815075 = merged_dict[4815075]
df_4815075

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,R_ADDRSCH,R_NREFADDR,R_REFADDR,ST_LANGCD,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF
0,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,E,672,30,SPA,CALLE MARIANO ZÚÑIGA,MARIANO ZÚÑIGA,None,None,N,CALLE
1,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,O,101,125,SPA,CALLE CARLOTA,CARLOTA,None,None,N,CALLE
2,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
3,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
4,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,O,121,139,SPA,CALLE ANA MARÍA,ANA MARÍA,None,None,N,CALLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31201,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
31202,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,SPA,AVENIDA SAN ISIDRO,SAN ISIDRO,None,None,N,AVENIDA
31203,Y,Y,Y,Y,Y,Y,N,Y,Y,Y,...,None,None,None,SPA,AUTOPISTA TOLUCA-NAUCALPAN,TOLUCA-NAUCALPAN,None,None,N,AUTOPISTA
31204,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
31205,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None

In [463]:
df_4815075.columns

Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'link_id_info', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT',
       'PAVED', 'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF'],
      dtype='object')

* para poder hacer el merge, cambiemos el nombre de link_id_info a LINK_ID (el mismo que el de pois)

In [464]:
df_4815075.rename(columns = {"link_id_info": "LINK_ID"}, inplace= True)

In [465]:
df_4815075["MULTIDIGIT"].value_counts()

MULTIDIGIT
N    29082
Y     2124
Name: count, dtype: int64

In [466]:
# lest just keep with the links which are multidigit == Y for each data
df_4815075 = df_4815075[df_4815075["MULTIDIGIT"] == "Y"]

In [467]:
df_4815075[df_4815075["LINK_ID"] == 1296526969]

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,R_ADDRSCH,R_NREFADDR,R_REFADDR,ST_LANGCD,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF
306,Y,Y,Y,N,Y,Y,Y,Y,Y,N,...,None,None,None,SPA,AVENIDA SOLIDARIDAD LAS TORRES,SOLIDARIDAD LAS TORRES,None,None,N,AVENIDA

* ahora llamemos el df de los POIs

In [468]:
df_pois_4815075 = pois_dic[4815075]

In [469]:
columns_pois = ["LINK_ID", "POI_ID", "FAC_TYPE", "POI_NAME", "POI_ST_NUM"]

In [470]:
df_pois_4815075 = df_pois_4815075[columns_pois]
df_pois_4815075.head(4)

      LINK_ID      POI_ID  FAC_TYPE             POI_NAME  POI_ST_NUM
0  1296526969  1244439551      4013        TOLUCA CENTRO         NaN
1   702722866  1244248545      9535           MISCELÁNEA       144.0
2   702722866  1178939983      9535  TIENDA DE ABARROTES         NaN
3  1296526966  1244944824      4013        TOLUCA CENTRO         NaN

In [471]:
df_pois_4815075.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7232 entries, 0 to 7231
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LINK_ID     7232 non-null   int64
 1   POI_ID      7232 non-null   int64
 2   FAC_TYPE    7232 non-null   int64
 3   POI_NAME    7232 non-null   object
 4   POI_ST_NUM  676 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 282.6+ KB

In [472]:
df_pois_4815075[df_pois_4815075["LINK_ID"] == 1296526969]

      LINK_ID      POI_ID  FAC_TYPE       POI_NAME  POI_ST_NUM
0  1296526969  1244439551      4013  TOLUCA CENTRO         NaN

In [473]:
df_4815075[df_4815075["LINK_ID"] == 1296526969]

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,R_ADDRSCH,R_NREFADDR,R_REFADDR,ST_LANGCD,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF
306,Y,Y,Y,N,Y,Y,Y,Y,Y,N,...,None,None,None,SPA,AVENIDA SOLIDARIDAD LAS TORRES,SOLIDARIDAD LAS TORRES,None,None,N,AVENIDA

In [474]:
# hacemos el merge
prueba = df_4815075.merge(df_pois_4815075, on="LINK_ID", how="left")

df_filtered = prueba[prueba["POI_ID"].notna()].copy()

In [475]:
prueba[prueba["LINK_ID"] == 702722866]

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF,POI_ID,FAC_TYPE,POI_NAME,POI_ST_NUM
49,Y,Y,Y,Y,Y,Y,Y,Y,Y,N,...,CALLE GLORIA,GLORIA,None,None,N,CALLE,1.244249e+09,9535.0,MISCELÁNEA,144.0
50,Y,Y,Y,Y,Y,Y,Y,Y,Y,N,...,CALLE GLORIA,GLORIA,None,None,N,CALLE,1.178940e+09,9535.0,TIENDA DE ABARROTES,NaN

In [476]:
prueba.columns

Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'LINK_ID', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT', 'PAVED',
       'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF', 'POI_ID', 'FAC_TYPE', 'POI_NAME', 'POI_ST_NUM'],
      dtype='object')

### con todos los df

In [477]:
columns_pois = ["LINK_ID", "POI_ID", "FAC_TYPE", "POI_NAME", "POI_ST_NUM", "PERCFRREF"]
df_mm_sections = {}

In [478]:
for sec in seccions:
    try:
        # 1. we changed the link columns from the streets df_filtered so 
        # we can merge with the POI data
        df_strets = merged_dict[sec].copy()
        df_strets.rename(columns = {"link_id_info": "LINK_ID"}, inplace = True)
        
        
        # -> MULTIDIGIT STREETS DISTRIBUTION BEFORE FILTERING
        print(f"\n Seccion {sec} - MULTIDIGIT DISTRIBUTION BEFORE FILTERING")
        print(df_strets["MULTIDIGIT"].value_counts())
        
        
        # 2. we filter by only having multidigit streets
        df_strets = df_strets[df_strets["MULTIDIGIT"] == "Y"]
        
        
        # 3. we get only the deseareble columns in the POIs data
        df_pois = pois_dic[sec].copy()
        df_pois = df_pois[columns_pois]
        
        for col in ["LINK_ID", "POI_ID", "FAC_TYPE", "POI_ST_NUM"]:
            df_pois[col] = pd.to_numeric(df_pois[col], errors = "coerce").astype("Int64")
            
        # we mantain the poi name column as string
        df_pois["POI_NAME"] = df_pois["POI_NAME"].astype(str)
        
        # 4. merge 
        df_merge = df_strets.merge(df_pois, on = "LINK_ID", how = "left")
        
        # 6. save it on the final dicc
        df_mm_sections[sec] = df_merge
        
    except Exception as e:
        print(f"Error procesando sección {sec}: {e}")

 Seccion 4815075 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    29082
Y     2124
Name: count, dtype: int64

 Seccion 4815078 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    7236
Y     546
Name: count, dtype: int64

 Seccion 4815079 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    33488
Y     2852
Name: count, dtype: int64

 Seccion 4815081 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    24561
Y      861
Name: count, dtype: int64

 Seccion 4815083 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    4004
Name: count, dtype: int64

 Seccion 4815084 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    13482
Y      201
Name: count, dtype: int64

 Seccion 4815085 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    105309
Y     16337
Name: count, dtype: int64

 Seccion 4815086 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    12601
Y      171
Name: count, dtype: int64

 Seccion 4815087 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    103523
Y     11853
Name: count, dtype: int64

 Seccion 4815090 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    37536
Y     3804
Name: count, dtype: int64

 Seccion 4815091 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    22167
Y     1511
Name: count, dtype: int64

 Seccion 4815096 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    111267
Y     17952
Name: count, dtype: int64

 Seccion 4815097 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    35474
Y     2170
Name: count, dtype: int64

 Seccion 4815098 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    98155
Y    10418
Name: count, dtype: int64

 Seccion 4815099 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    19220
Y      885
Name: count, dtype: int64

 Seccion 4815425 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    982
Name: count, dtype: int64

 Seccion 4815428 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    2801
Y      44
Name: count, dtype: int64

 Seccion 4815429 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    12546
Y      930
Name: count, dtype: int64

 Seccion 4815440 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    11225
Y      736
Name: count, dtype: int64

 Seccion 4815441 - MULTIDIGIT DISTRIBUTION BEFORE FILTERING
MULTIDIGIT
N    2904
Y      49
Name: count, dtype: int64

In [479]:
df_mm_sections[4815075].columns

Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'LINK_ID', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT', 'PAVED',
       'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF', 'POI_ID', 'FAC_TYPE', 'POI_NAME', 'POI_ST_NUM',
       'PERCFRREF'],
      dtype='object')

In [ ]:
from shapely.geometry import LineString
from shapely.ops import nearest_points
from rtree import index
import numpy as np

# Función que redimensiona las coordenadas para ser metros
prueba = prueba.to_crs(epsg=32614)

# Función para calcular la dirección de un segmento de línea
def calculate_direction(coord1, coord2):
    dx = coord2[0] - coord1[0]
    dy = coord2[1] - coord1[1]
    angle = np.arctan2(dy, dx)  # Ángulo en radianes
    return angle

# Función para verificar si dos líneas son paralelas
def are_lines_parallel(line1, line2, tolerance=0.1):
    if isinstance(line1, LineString) and isinstance(line2, LineString):
        coords1 = list(line1.coords)
        coords2 = list(line2.coords)
        
        # Calcula direcciones de segmentos en ambas líneas
        directions1 = [calculate_direction(coords1[i], coords1[i + 1]) for i in range(len(coords1) - 1)]
        directions2 = [calculate_direction(coords2[i], coords2[i + 1]) for i in range(len(coords2) - 1)]
        
        # Compara las direcciones promedio de ambas líneas
        avg_direction1 = np.mean(directions1)
        avg_direction2 = np.mean(directions2)
        
        # Verifica si las direcciones están dentro del rango de tolerancia
        return abs(avg_direction1 - avg_direction2) < tolerance
    return False

# Función para calcular la distancia mínima entre dos líneas
def calculate_distance(line1, line2):
    if isinstance(line1, LineString) and isinstance(line2, LineString):
        p1, p2 = nearest_points(line1, line2)
        return p1.distance(p2)
    return None

# Función optimizada para encontrar líneas paralelas entre diferentes LINK_IDs
def find_parallel_link_ids_with_distances_optimized(df_filtered, tolerance=0.1):
    parallel_links = []
    spatial_index = index.Index()

    # Crea un índice espacial para las geometrías
    for idx, row in df_filtered.iterrows():
        spatial_index.insert(idx, row["geometry"].bounds)

    # Compara solo geometrías cercanas
    for idx1, row1 in df_filtered.iterrows():
        possible_matches_index = list(spatial_index.intersection(row1["geometry"].bounds))
        for idx2 in possible_matches_index:
            if idx1 >= idx2:  # Evita comparaciones duplicadas
                continue
            row2 = df_filtered.iloc[idx2]
            if row1["LINK_ID"] != row2["LINK_ID"]:  # Compara diferentes LINK_IDs
                if are_lines_parallel(row1["geometry"], row2["geometry"], tolerance):
                    distance = calculate_distance(row1["geometry"], row2["geometry"])
                    parallel_links.append({
                        "LINK_ID_1": row1["LINK_ID"],
                        "LINK_ID_2": row2["LINK_ID"],
                        "distance": distance
                    })
    return parallel_links

# Encuentra líneas paralelas entre diferentes LINK_IDs y sus distancias
parallel_links_with_distances = find_parallel_link_ids_with_distances_optimized(prueba, tolerance=0.1)

# Crea un conjunto de todos los LINK_IDs que tienen líneas paralelas
parallel_link_ids = set()
for item in parallel_links_with_distances:
    parallel_link_ids.add(item["LINK_ID_1"])
    parallel_link_ids.add(item["LINK_ID_2"])

# Identifica los LINK_IDs que no son paralelos con ningún otro
all_link_ids = set(prueba["LINK_ID"].unique())
non_parallel_link_ids = all_link_ids - parallel_link_ids

# Imprime los resultados
print("LINK_IDs que no son paralelos con ningún otro:")
for link_id in non_parallel_link_ids:
    print(f"LINK_ID {link_id}")

print('LINK_IDs que no son paralelos con ningún otro:', len(non_parallel_link_ids))

LINK_IDs que no son paralelos con ningún otro:
LINK_ID 1201553412
LINK_ID 1041600516
LINK_ID 704543245
LINK_ID 1073536528
LINK_ID 939198997
LINK_ID 1073536535
LINK_ID 1073536536
LINK_ID 937985053
LINK_ID 937985055
LINK_ID 920545312
LINK_ID 920545313
LINK_ID 1373411361
LINK_ID 721652771
LINK_ID 1119315492
LINK_ID 1159100450
LINK_ID 1119315494
LINK_ID 1159282728
LINK_ID 721652778
LINK_ID 1159378482
LINK_ID 1194192947
LINK_ID 1159378484
LINK_ID 1038399027
LINK_ID 997296700
LINK_ID 792517692
LINK_ID 702928447
LINK_ID 914157120
LINK_ID 1183496257
LINK_ID 702933059
LINK_ID 1242500675
LINK_ID 847922247
LINK_ID 848308307
LINK_ID 1176605270
LINK_ID 1176605274
LINK_ID 1175916635
LINK_ID 1176605277
LINK_ID 1296128095
LINK_ID 721281121
LINK_ID 1176020067
LINK_ID 1176020068
LINK_ID 792841315
LINK_ID 1176020070
LINK_ID 1159282791
LINK_ID 848312421
LINK_ID 1039637609
LINK_ID 1039637610
LINK_ID 702729836
LINK_ID 1159282797
LINK_ID 920544877
LINK_ID 798007407
LINK_ID 1039637612
LINK_ID 1039637613
LINK_ID 848019570
LINK_ID 848019572
LINK_ID 848305790
LINK_ID 702682753
LINK_ID 1194193539
LINK_ID 1159292042
LINK_ID 711807627
LINK_ID 1314202253
LINK_ID 1296183952
LINK_ID 702710420
LINK_ID 1182354581
LINK_ID 1182354582
LINK_ID 1038398613
LINK_ID 936926358
LINK_ID 1272371865
LINK_ID 1272371866
LINK_ID 936926359
LINK_ID 1159220383
LINK_ID 704484511
LINK_ID 799478945
LINK_ID 799478947
LINK_ID 702682788
LINK_ID 702676133
LINK_ID 1176602278
LINK_ID 1176602280
LINK_ID 1125552300
LINK_ID 797934766
LINK_ID 797934767
LINK_ID 1297082542
LINK_ID 1209165490
LINK_ID 1297082547
LINK_ID 1297082548
LINK_ID 702682805
LINK_ID 1176019645
LINK_ID 1176019646
LINK_ID 1176019647
LINK_ID 1176019648
LINK_ID 1175384262
LINK_ID 1175384265
LINK_ID 702689482
LINK_ID 1250075853
LINK_ID 1348539085
LINK_ID 1250075855
LINK_ID 1250075856
LINK_ID 702680783
LINK_ID 1348539086
LINK_ID 1159233229
LINK_ID 1159233230
LINK_ID 1159233231
LINK_ID 1159233232
LINK_ID 1236925656
LINK_ID 1227245274
LINK_ID 702694625
LINK_ID 799514338
LINK_ID 848178403
LINK_ID 799514340
LINK_ID 702710004
LINK_ID 1346231541
LINK_ID 1336273144
LINK_ID 702655736
LINK_ID 848265470
LINK_ID 1115310849
LINK_ID 1346605827
LINK_ID 1346605828
LINK_ID 711798540
LINK_ID 721214740
LINK_ID 721214741
LINK_ID 920808727
LINK_ID 1039003927
LINK_ID 1175388957
LINK_ID 711798557
LINK_ID 1045915423
LINK_ID 702726964
LINK_ID 711775030
LINK_ID 1268305721
LINK_ID 1268305722
LINK_ID 799372091
LINK_ID 799372093
LINK_ID 1158594366
LINK_ID 702680385
LINK_ID 702906691
LINK_ID 711775047
LINK_ID 1175187272
LINK_ID 1175187274
LINK_ID 1022848848
LINK_ID 1175241555
LINK_ID 1175241556
LINK_ID 1175241557
LINK_ID 1175241558
LINK_ID 1175186261
LINK_ID 1047073622
LINK_ID 721150809
LINK_ID 1175841632
LINK_ID 848044901
LINK_ID 848044903
LINK_ID 1329646448
LINK_ID 1329646450
LINK_ID 1041601397
LINK_ID 798008695
LINK_ID 711775102
LINK_ID 1347303817
LINK_ID 1347303823
LINK_ID 721215888
LINK_ID 1037122447
LINK_ID 1159628178
LINK_ID 702917523
LINK_ID 1347303830
LINK_ID 1296184215
LINK_ID 1149027736
LINK_ID 721216921
LINK_ID 1358482329
LINK_ID 1244994986
LINK_ID 702721965
LINK_ID 702721966
LINK_ID 1336367536
LINK_ID 1336367538
LINK_ID 1268544440
LINK_ID 1268544441
LINK_ID 1314055100
LINK_ID 1176606144
LINK_ID 939296195
LINK_ID 1347030468
LINK_ID 1176606147
LINK_ID 1176606148
LINK_ID 1324588493
LINK_ID 1324588494
LINK_ID 1012436943
LINK_ID 1012436946
LINK_ID 1158621140
LINK_ID 1158621143
LINK_ID 702692828
LINK_ID 1335792093
LINK_ID 1295326183
LINK_ID 1336134133
LINK_ID 1158594551
LINK_ID 1201553402
LINK_IDs que no son paralelos con ningún otro: 187

In [ ]:
def calcular_ancho_camellon(df_filtered, parallel_links):
    resultados = []
    for item in parallel_links:
        # Busca las filas correspondientes a cada LINK_ID
        row1 = df_filtered[df_filtered["LINK_ID"] == item["LINK_ID_1"]].iloc[0]
        row2 = df_filtered[df_filtered["LINK_ID"] == item["LINK_ID_2"]].iloc[0]
        
        # Calcula el ancho total de la calle para cada LINK_ID
        ancho1 = (row1["TO_LANES"] + row1["FROM_LANES"]) * 2.5
        ancho2 = (row2["TO_LANES"] + row2["FROM_LANES"]) * 2.5
        
        # Usa el mayor ancho
        ancho_calle = max(ancho1, ancho2)
        
        # Calcula el ancho del camellón
        total_wide = item["distance"] - ancho_calle
        
        resultados.append({
            "LINK_ID_1": item["LINK_ID_1"],
            "LINK_ID_2": item["LINK_ID_2"],
            "distance": item["distance"],
            "total_wide": total_wide
        })
    return pd.DataFrame(resultados)

print("Cantidad de calles con MULTIDIGIT = 'Y':", (df_4815075["MULTIDIGIT"] == "Y").sum())

Cantidad de calles con MULTIDIGIT = 'Y': 2124

In [ ]:
def update_multidigit_by_distance(df_filtered, min_dist=3, max_dist=40):
    df_filtered = df_filtered.copy()
    for idx1, row1 in df_filtered.iterrows():
        for idx2, row2 in df_filtered.iterrows():
            if idx1 >= idx2:
                continue
            if row1["LINK_ID"] != row2["LINK_ID"]:
                dist = calculate_distance(row1["geometry"], row2["geometry"])
                ancho1 = (row1["TO_LANES"] + row1["FROM_LANES"]) * 2.5
                ancho2 = (row2["TO_LANES"] + row2["FROM_LANES"]) * 2.5
                ancho_total = max(ancho1, ancho2)
                dist_efectiva = dist - ancho_total
                if dist_efectiva is not None and min_dist <= dist_efectiva <= max_dist:
                    df_filtered.at[idx1, "MULTIDIGIT"] = "Y"
                    df_filtered.at[idx2, "MULTIDIGIT"] = "Y"
    df_filtered["MULTIDIGIT"] = df_filtered["MULTIDIGIT"].fillna("N")
    return df_filtered

# Aplica la función a multidigits con POIs
df_filtered = update_multidigit_by_distance(df_filtered)
print("Cantidad de calles con MULTIDIGIT = 'Y':", (df_filtered["MULTIDIGIT"] == "Y").sum())

Cantidad de calles con MULTIDIGIT = 'Y': 1095