### Libraries

In [1]:
import geopandas as gpd
import pandas as pd

### Loading Data

In [2]:
route = '/home/nacho/Desktop/data/'

seccions = [
    4815075, 4815078, 4815079, 4815081, 4815083, 4815084, 4815085, 4815086, 4815087,
    4815090, 4815091, 4815096, 4815097, 4815098, 4815099, 4815425, 4815428, 4815429,
    4815440, 4815441
]

# Dictionary to store the GeoDataFrames
street_info_dict = {}

for sec in seccions:
    geojson_file_path_street = rf'{route}STREETS_NAV/SREETS_NAV_{sec}.geojson'
    try:
        street_info_dict[sec] = gpd.read_file(geojson_file_path_street)
    except Exception as e:
        print(f"Error reading file for section {sec}: {e}")

In [3]:
street_name_dict = {}

for sec in seccions:
    geojson_file_path_street_name = rf'{route}STREETS_NAMING_ADDRESSING/SREETS_NAMING_ADDRESSING_{sec}.geojson'
    try:
        street_name_dict[sec] = gpd.read_file(geojson_file_path_street_name)
    except Exception as e:
        print(f"Error reading file for section {sec}: {e}")

In [4]:
merged_dict = {}

for sec in seccions:
    try:
        df_info = street_info_dict[sec]
        df_name = street_name_dict[sec]
        
        merged = df_info.merge(df_name, on='geometry', suffixes=('_info', '_name'))
        merged_dict[sec] = merged
        
    except Exception as e:
        print(f"Error merging section {sec}: {e}")

In [5]:
df_4815075 = merged_dict[4815075]
df_4815078 = merged_dict[4815078]
df_4815079 = merged_dict[4815079]
df_4815081 = merged_dict[4815081]
df_4815083 = merged_dict[4815083]
df_4815084 = merged_dict[4815084]
df_4815085 = merged_dict[4815085]
df_4815086 = merged_dict[4815086]
df_4815087 = merged_dict[4815087]
df_4815090 = merged_dict[4815090]
df_4815091 = merged_dict[4815091]
df_4815096 = merged_dict[4815096]
df_4815097 = merged_dict[4815097]
df_4815098 = merged_dict[4815098]
df_4815099 = merged_dict[4815099]
df_4815425 = merged_dict[4815425]
df_4815428 = merged_dict[4815428]
df_4815429 = merged_dict[4815429]
df_4815440 = merged_dict[4815440]
df_4815441 = merged_dict[4815441]

In [6]:
pois_dic = {}

for sec in seccions:
    try:
        pois_dic[sec] = pd.read_csv(rf'{route}POIs/POI_{sec}.csv')
    except Exception as e:
        print(f"Error reading POI file for section {sec}: {e}")

/tmp/ipykernel_41308/2173714624.py:5: DtypeWarning: Columns (9,10,27) have mixed types. Specify dtype option on import or set low_memory=False.
  pois_dic[sec] = pd.read_csv(rf'{route}POIs/POI_{sec}.csv')
/tmp/ipykernel_41308/2173714624.py:5: DtypeWarning: Columns (27,35) have mixed types. Specify dtype option on import or set low_memory=False.
  pois_dic[sec] = pd.read_csv(rf'{route}POIs/POI_{sec}.csv')

## Data Cleaning process

lets analyze the first df just to confirm

In [7]:
df_4815075

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,R_ADDRSCH,R_NREFADDR,R_REFADDR,ST_LANGCD,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF
0,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,E,672,30,SPA,CALLE MARIANO ZÚÑIGA,MARIANO ZÚÑIGA,None,None,N,CALLE
1,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,O,101,125,SPA,CALLE CARLOTA,CARLOTA,None,None,N,CALLE
2,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
3,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
4,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,O,121,139,SPA,CALLE ANA MARÍA,ANA MARÍA,None,None,N,CALLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31201,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
31202,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,SPA,AVENIDA SAN ISIDRO,SAN ISIDRO,None,None,N,AVENIDA
31203,Y,Y,Y,Y,Y,Y,N,Y,Y,Y,...,None,None,None,SPA,AUTOPISTA TOLUCA-NAUCALPAN,TOLUCA-NAUCALPAN,None,None,N,AUTOPISTA
31204,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None
31205,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,None,None,None,None,None,None,None,None,N,None

In [8]:
df_4815075.columns

Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'link_id_info', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT',
       'PAVED', 'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF'],
      dtype='object')

* para poder hacer el merge, cambiemos el nombre de link_id_info a LINK_ID (el mismo que el de pois)

In [9]:
df_4815075.rename(columns = {"link_id_info": "LINK_ID"}, inplace= True)

In [10]:
df_4815075["MULTIDIGIT"].value_counts()

MULTIDIGIT
N    29082
Y     2124
Name: count, dtype: int64

In [11]:
# lets just keep with the links which are multidigit == Y for each data
df_4815075 = df_4815075[df_4815075["MULTIDIGIT"] == "Y"]

In [12]:
df_4815075[df_4815075["LINK_ID"] == 1296526969]

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,R_ADDRSCH,R_NREFADDR,R_REFADDR,ST_LANGCD,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF
306,Y,Y,Y,N,Y,Y,Y,Y,Y,N,...,None,None,None,SPA,AVENIDA SOLIDARIDAD LAS TORRES,SOLIDARIDAD LAS TORRES,None,None,N,AVENIDA

* ahora llamemos el df de los POIs

In [13]:
df_pois_4815075 = pois_dic[4815075]

In [14]:
columns_pois = ["LINK_ID", "POI_ID", "FAC_TYPE", "POI_NAME", "POI_ST_NUM"]

In [15]:
df_pois_4815075 = df_pois_4815075[columns_pois]
df_pois_4815075.head(4)

      LINK_ID      POI_ID  FAC_TYPE             POI_NAME  POI_ST_NUM
0  1296526969  1244439551      4013        TOLUCA CENTRO         NaN
1   702722866  1244248545      9535           MISCELÁNEA       144.0
2   702722866  1178939983      9535  TIENDA DE ABARROTES         NaN
3  1296526966  1244944824      4013        TOLUCA CENTRO         NaN

In [16]:
df_pois_4815075.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7232 entries, 0 to 7231
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LINK_ID     7232 non-null   int64
 1   POI_ID      7232 non-null   int64
 2   FAC_TYPE    7232 non-null   int64
 3   POI_NAME    7232 non-null   object
 4   POI_ST_NUM  676 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 282.6+ KB

In [17]:
df_pois_4815075[df_pois_4815075["LINK_ID"] == 1296526969]

      LINK_ID      POI_ID  FAC_TYPE       POI_NAME  POI_ST_NUM
0  1296526969  1244439551      4013  TOLUCA CENTRO         NaN

In [18]:
df_4815075[df_4815075["LINK_ID"] == 1296526969]

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,R_ADDRSCH,R_NREFADDR,R_REFADDR,ST_LANGCD,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF
306,Y,Y,Y,N,Y,Y,Y,Y,Y,N,...,None,None,None,SPA,AVENIDA SOLIDARIDAD LAS TORRES,SOLIDARIDAD LAS TORRES,None,None,N,AVENIDA

In [19]:
# hacemos el merge
prueba = df_4815075.merge(df_pois_4815075, on="LINK_ID", how="left")

In [20]:
prueba[prueba["LINK_ID"] == 702722866]

,AR_AUTO,AR_BUS,AR_CARPOOL,AR_DELIV,AR_EMERVEH,AR_MOTOR,AR_PEDEST,AR_TAXIS,AR_TRAFF,AR_TRUCKS,...,ST_NAME,ST_NM_BASE,ST_NM_SUFF,ST_TYP_AFT,ST_TYP_ATT,ST_TYP_BEF,POI_ID,FAC_TYPE,POI_NAME,POI_ST_NUM
49,Y,Y,Y,Y,Y,Y,Y,Y,Y,N,...,CALLE GLORIA,GLORIA,None,None,N,CALLE,1.244249e+09,9535.0,MISCELÁNEA,144.0
50,Y,Y,Y,Y,Y,Y,Y,Y,Y,N,...,CALLE GLORIA,GLORIA,None,None,N,CALLE,1.178940e+09,9535.0,TIENDA DE ABARROTES,NaN

In [21]:
prueba.columns

# Carga el archivo con los POIs
poi_link_data = pd.read_csv(rf'{route}POIs/POI_4815075.csv')

# Verifica las columnas de ambos DataFrames
print("Columnas de prueba antes del merge:", prueba.columns)
print("Columnas de poi_link_data:", poi_link_data.columns)

# Renombra o elimina la columna conflictiva en 'prueba' si existe
if "POI_ID" in prueba.columns:
    prueba = prueba.drop(columns=["POI_ID"])  # Elimina la columna conflictiva

# Realiza el merge con un subconjunto de columnas
prueba = prueba.merge(poi_link_data[["LINK_ID", "POI_ID"]], on="LINK_ID", how="left")

# Verifica las columnas después del merge
print("Columnas después del merge:", prueba.columns)

# Filtra para dejar solo los LINK_IDs que tienen al menos un POI_ID
prueba = prueba[prueba["POI_ID"].notnull()]
prueba.columns

Columnas de prueba antes del merge: Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'LINK_ID', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT', 'PAVED',
       'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF', 'POI_ID', 'FAC_TYPE', 'POI_NAME', 'POI_ST_NUM'],
      dtype='object')
Columnas de poi_link_data: Index(['Unnamed: 0', 'LINK_ID', 'POI_ID', 'SEQ_NUM', 'FAC_TYPE', 'POI_NAME',
       'POI_LANGCD', 'POI_NMTYPE', 'POI_ST_NUM', 'ST_NUM_FUL', 'ST_NFUL_LC',
       'ST_NAME', 'ST_LANGCD', 'POI_ST_SD', 'ACC_TYPE', 'PH_NUMBER',
       'CHAIN_ID', 'NAT_IMPORT', 'PRIVATE', 'IN_VICIN', 'NUM_PARENT',
       'NUM_CHILD', 'PERCFRREF', 'VANCITY_ID', 'ACT_ADDR', 'ACT_LANGCD',
       'ACT_ST_NAM', 'ACT_ST_NUM', 'ACT_ADMIN', 'ACT_POSTAL', 'AIRPT_TYPE',
       'ENTR_TYPE', 'REST_TYPE', 'FOOD_TYPE', 'ALT_FOOD', 'REG_FOOD',
       'RSTR_TYPE', 'OPEN_24', 'DIESEL', 'BLD_TYPE'],
      dtype='object')
Columnas después del merge: Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'LINK_ID', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT', 'PAVED',
       'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF', 'FAC_TYPE', 'POI_NAME', 'POI_ST_NUM', 'POI_ID'],
      dtype='object')

Index(['AR_AUTO', 'AR_BUS', 'AR_CARPOOL', 'AR_DELIV', 'AR_EMERVEH', 'AR_MOTOR',
       'AR_PEDEST', 'AR_TAXIS', 'AR_TRAFF', 'AR_TRUCKS', 'BRIDGE', 'CONTRACC',
       'COVERIND', 'DIR_TRAVEL', 'DIVIDER', 'FERRY_TYPE', 'FROM_LANES',
       'FRONTAGE', 'FR_SPD_LIM', 'FUNC_CLASS', 'INDESCRIB', 'INTERINTER',
       'LANE_CAT', 'LINK_ID', 'LOW_MBLTY', 'MANOEUVRE', 'MULTIDIGIT', 'PAVED',
       'POIACCESS', 'PRIORITYRD', 'PRIVATE', 'PUB_ACCESS', 'RAMP',
       'ROUNDABOUT', 'SPEED_CAT', 'TOLLWAY', 'TO_LANES', 'TO_SPD_LIM',
       'TUNNEL', 'UNDEFTRAFF', 'URBAN', 'geometry', 'ADDR_TYPE',
       'link_id_name', 'L_ADDRFORM', 'L_ADDRSCH', 'L_NREFADDR', 'L_REFADDR',
       'R_ADDRFORM', 'R_ADDRSCH', 'R_NREFADDR', 'R_REFADDR', 'ST_LANGCD',
       'ST_NAME', 'ST_NM_BASE', 'ST_NM_SUFF', 'ST_TYP_AFT', 'ST_TYP_ATT',
       'ST_TYP_BEF', 'FAC_TYPE', 'POI_NAME', 'POI_ST_NUM', 'POI_ID'],
      dtype='object')

In [24]:
from shapely.geometry import LineString
from shapely.ops import nearest_points
from rtree import index
import numpy as np

# Función para calcular la dirección de un segmento de línea
def calculate_direction(coord1, coord2):
    dx = coord2[0] - coord1[0]
    dy = coord2[1] - coord1[1]
    angle = np.arctan2(dy, dx)  # Ángulo en radianes
    return angle

# Función para verificar si dos líneas son paralelas
def are_lines_parallel(line1, line2, tolerance=0.1):
    if isinstance(line1, LineString) and isinstance(line2, LineString):
        coords1 = list(line1.coords)
        coords2 = list(line2.coords)
        
        # Calcular direcciones de segmentos en ambas líneas
        directions1 = [calculate_direction(coords1[i], coords1[i + 1]) for i in range(len(coords1) - 1)]
        directions2 = [calculate_direction(coords2[i], coords2[i + 1]) for i in range(len(coords2) - 1)]
        
        # Comparar las direcciones promedio de ambas líneas
        avg_direction1 = np.mean(directions1)
        avg_direction2 = np.mean(directions2)
        
        # Verificar si las direcciones están dentro del rango de tolerancia
        return abs(avg_direction1 - avg_direction2) < tolerance
    return False

# Función para calcular la distancia mínima entre dos líneas
def calculate_distance(line1, line2):
    if isinstance(line1, LineString) and isinstance(line2, LineString):
        p1, p2 = nearest_points(line1, line2)
        return p1.distance(p2)
    return None

# Función optimizada para encontrar líneas paralelas entre diferentes LINK_IDs
def find_parallel_link_ids_with_distances_optimized(df, tolerance=0.1):
    parallel_links = []
    spatial_index = index.Index()

    # Crear un índice espacial para las geometrías
    for idx, row in df.iterrows():
        spatial_index.insert(idx, row["geometry"].bounds)

    # Comparar solo geometrías cercanas
    for idx1, row1 in df.iterrows():
        possible_matches_index = list(spatial_index.intersection(row1["geometry"].bounds))
        for idx2 in possible_matches_index:
            # Verificar que idx2 sea válido
            if idx2 >= len(df) or idx2 < 0:
                continue
            if idx1 >= idx2:  # Evitar comparaciones duplicadas
                continue
            row2 = df.iloc[idx2]
            if row1["LINK_ID"] != row2["LINK_ID"]:  # Comparar diferentes LINK_IDs
                if are_lines_parallel(row1["geometry"], row2["geometry"], tolerance):
                    distance = calculate_distance(row1["geometry"], row2["geometry"])
                    parallel_links.append({
                        "LINK_ID_1": row1["LINK_ID"],
                        "LINK_ID_2": row2["LINK_ID"],
                        "distance": distance
                    })
    return parallel_links

# Llamar a la función corregida
parallel_links_with_distances = find_parallel_link_ids_with_distances_optimized(prueba, tolerance=0.1)

# Crear un conjunto de todos los LINK_IDs que tienen líneas paralelas
parallel_link_ids = set()
for item in parallel_links_with_distances:
    parallel_link_ids.add(item["LINK_ID_1"])
    parallel_link_ids.add(item["LINK_ID_2"])

# Identificar los LINK_IDs que no son paralelos con ningún otro
all_link_ids = set(prueba["LINK_ID"].unique())
non_parallel_link_ids = all_link_ids - parallel_link_ids

# Imprimir los resultados
print("LINK_IDs que no son paralelos con ningún otro:")
for link_id in non_parallel_link_ids:
    print(f"LINK_ID {link_id}")

print('LINK_IDs que no son paralelos con ningún otro:', len(non_parallel_link_ids))

LINK_IDs que no son paralelos con ningún otro:
LINK_ID 702656000
LINK_ID 1191296002
LINK_ID 1041600516
LINK_ID 847943186
LINK_ID 702665243
LINK_ID 937985053
LINK_ID 938938398
LINK_ID 920545310
LINK_ID 798007839
LINK_ID 1159100449
LINK_ID 720474146
LINK_ID 1179630115
LINK_ID 1159100450
LINK_ID 1336588325
LINK_ID 938938401
LINK_ID 1244987943
LINK_ID 1336719400
LINK_ID 721416233
LINK_ID 1336719402
LINK_ID 702964777
LINK_ID 1328569387
LINK_ID 1328569388
LINK_ID 1347012654
LINK_ID 721416239
LINK_ID 1328569389
LINK_ID 1336588328
LINK_ID 1159378482
LINK_ID 1159378483
LINK_ID 1337541173
LINK_ID 1343805494
LINK_ID 1159378485
LINK_ID 792517688
LINK_ID 1347051065
LINK_ID 847922234
LINK_ID 1296154683
LINK_ID 1347915836
LINK_ID 847922235
LINK_ID 847922237
LINK_ID 1347915839
LINK_ID 1348537914
LINK_ID 1347051068
LINK_ID 1242500671
LINK_ID 1242500674
LINK_ID 702729795
LINK_ID 1196922855
LINK_ID 1179766854
LINK_ID 847922246
LINK_ID 721672778
LINK_ID 1346381899
LINK_ID 1346381900
LINK_ID 1346234443
LINK_ID 1346381904
LINK_ID 1346378833
LINK_ID 702686802
LINK_ID 1346378835
LINK_ID 1346378836
LINK_ID 1346995283
LINK_ID 1175369814
LINK_ID 1176605270
LINK_ID 1346995284
LINK_ID 702686804
LINK_ID 1346381914
LINK_ID 1346378846
LINK_ID 1296128095
LINK_ID 1180222050
LINK_ID 1180222051
LINK_ID 798707706
LINK_ID 1039637609
LINK_ID 1039637612
LINK_ID 1159282797
LINK_ID 1179630112
LINK_ID 1296128116
LINK_ID 1296128117
LINK_ID 1382856822
LINK_ID 1346001524
LINK_ID 704481908
LINK_ID 1044125300
LINK_ID 1296526966
LINK_ID 1296526969
LINK_ID 1296122492
LINK_ID 1335799418
LINK_ID 702682754
LINK_ID 1334461063
LINK_ID 704481929
LINK_ID 711807627
LINK_ID 1179610252
LINK_ID 721678991
LINK_ID 711798928
LINK_ID 704484495
LINK_ID 1377936019
LINK_ID 936926358
LINK_ID 797934742
LINK_ID 1179638425
LINK_ID 797934745
LINK_ID 1296120986
LINK_ID 1346991260
LINK_ID 704484509
LINK_ID 1346991262
LINK_ID 1382854297
LINK_ID 1044375199
LINK_ID 1194219681
LINK_ID 1346991265
LINK_ID 1346991267
LINK_ID 1194219684
LINK_ID 702676133
LINK_ID 1296128169
LINK_ID 797934765
LINK_ID 797934767
LINK_ID 702704304
LINK_ID 1338691761
LINK_ID 1338691764
LINK_ID 702698677
LINK_ID 1242590397
LINK_ID 1242590398
LINK_ID 1291984581
LINK_ID 1347421384
LINK_ID 1291984586
LINK_ID 1347421388
LINK_ID 1347421389
LINK_ID 1383143117
LINK_ID 1347421391
LINK_ID 702701263
LINK_ID 1347421393
LINK_ID 1383143124
LINK_ID 702661337
LINK_ID 1335856858
LINK_ID 702666973
LINK_ID 1346992349
LINK_ID 702666975
LINK_ID 711804638
LINK_ID 1346734817
LINK_ID 848178402
LINK_ID 848178403
LINK_ID 711804640
LINK_ID 799514338
LINK_ID 1296123111
LINK_ID 704492264
LINK_ID 1347695848
LINK_ID 1346992362
LINK_ID 1197055719
LINK_ID 1346992364
LINK_ID 1347695853
LINK_ID 1179639023
LINK_ID 1347695857
LINK_ID 1346992371
LINK_ID 1159121651
LINK_ID 1246827252
LINK_ID 1346231540
LINK_ID 1196798711
LINK_ID 1347695860
LINK_ID 1346231542
LINK_ID 702655735
LINK_ID 702655736
LINK_ID 1346605820
LINK_ID 1346605821
LINK_ID 702655737
LINK_ID 1346231544
LINK_ID 1346231547
LINK_ID 1115310849
LINK_ID 1346231545
LINK_ID 1295326975
LINK_ID 1346443524
LINK_ID 1160898311
LINK_ID 1346443529
LINK_ID 704566034
LINK_ID 1337874707
LINK_ID 1158684948
LINK_ID 850416916
LINK_ID 1158684950
LINK_ID 1040985368
LINK_ID 1288995097
LINK_ID 1040985369
LINK_ID 702661412
LINK_ID 1346917163
LINK_ID 1346917164
LINK_ID 1346917168
LINK_ID 1347030320
LINK_ID 702722866
LINK_ID 1158668595
LINK_ID 1336142643
LINK_ID 702726964
LINK_ID 1197110577
LINK_ID 711775031
LINK_ID 1176291129
LINK_ID 711775034
LINK_ID 711775035
LINK_ID 711775036
LINK_ID 711775039
LINK_ID 711775040
LINK_ID 711775041
LINK_ID 799372097
LINK_ID 1296241987
LINK_ID 1296241988
LINK_ID 1179631941
LINK_ID 792701766
LINK_ID 711775047
LINK_ID 792701768
LINK_ID 1296241990
LINK_ID 1175857994
LINK_ID 702930253
LINK_ID 1208943439
LINK_ID 1208943440
LINK_ID 1175841616
LINK_ID 1047073615
LINK_ID 702692176
LINK_ID 1194194767
LINK_ID 1194194768
LINK_ID 711761745
LINK_ID 721102167
LINK_ID 1246441297
LINK_ID 1194194769
LINK_ID 1194194770
LINK_ID 1208943453
LINK_ID 711775069
LINK_ID 1175841633
LINK_ID 1379944294
LINK_ID 848044903
LINK_ID 1379944295
LINK_ID 1379944296
LINK_ID 1346984815
LINK_ID 1329646448
LINK_ID 797875570
LINK_ID 721126259
LINK_ID 1346986868
LINK_ID 1041601398
LINK_ID 1041601402
LINK_ID 1346012027
LINK_ID 711775103
LINK_ID 1295325568
LINK_ID 1295325569
LINK_ID 1346043775
LINK_ID 1346043777
LINK_ID 1196611461
LINK_ID 798662543
LINK_ID 1159628178
LINK_ID 702917523
LINK_ID 1295322004
LINK_ID 1295322005
LINK_ID 798662552
LINK_ID 721216921
LINK_ID 1295322011
LINK_ID 1295322012
LINK_ID 915356573
LINK_ID 1317718430
LINK_ID 711770529
LINK_ID 1125741987
LINK_ID 1381283245
LINK_ID 1381283247
LINK_ID 1336367537
LINK_ID 1381283250
LINK_ID 1381283252
LINK_ID 702728631
LINK_ID 1176264122
LINK_ID 702677947
LINK_ID 702721981
LINK_ID 1346991039
LINK_ID 1347030464
LINK_ID 702721985
LINK_ID 711770562
LINK_ID 702721988
LINK_ID 1347030469
LINK_ID 1295325641
LINK_ID 702721993
LINK_ID 702721994
LINK_ID 1147003341
LINK_ID 1324588493
LINK_ID 1012436943
LINK_ID 702711248
LINK_ID 1347779027
LINK_ID 1197052374
LINK_ID 1347779030
LINK_ID 1347779031
LINK_ID 711677914
LINK_ID 1347709403
LINK_ID 1335792092
LINK_ID 1347709405
LINK_ID 1347709406
LINK_ID 1295326684
LINK_ID 1347496416
LINK_ID 1209176031
LINK_ID 1336156129
LINK_ID 1196922852
LINK_ID 1295325669
LINK_ID 1119315492
LINK_ID 1196922853
LINK_ID 1295326184
LINK_ID 1347273193
LINK_ID 702722024
LINK_ID 1119315493
LINK_ID 721295852
LINK_ID 1288993772
LINK_ID 702659566
LINK_ID 702659567
LINK_ID 1288993773
LINK_ID 1044126193
LINK_ID 1119315494
LINK_ID 702722026
LINK_ID 1341143540
LINK_ID 1119315495
LINK_ID 702722029
LINK_ID 1347699704
LINK_ID 1347699706
LINK_ID 1347699707
LINK_ID 799479806
LINK_IDs que no son paralelos con ningún otro: 304

In [26]:
# Filtrar los LINK_IDs paralelos que cumplen con las condiciones de FRONTAGE y DIR_TRAVEL
filtered_parallel_links = []

for item in parallel_links_with_distances:
    link_id_1 = item["LINK_ID_1"]
    link_id_2 = item["LINK_ID_2"]
    
    # Obtener las filas correspondientes a los LINK_IDs
    row1 = prueba[prueba["LINK_ID"] == link_id_1]
    row2 = prueba[prueba["LINK_ID"] == link_id_2]
    
    # Verificar las condiciones de FRONTAGE y DIR_TRAVEL
    if not row1.empty and not row2.empty:
        if row1.iloc[0]["FRONTAGE"] == row2.iloc[0]["FRONTAGE"] and row1.iloc[0]["DIR_TRAVEL"] == row2.iloc[0]["DIR_TRAVEL"]:
            filtered_parallel_links.append(item)

# Crear un DataFrame con los resultados filtrados
filtered_parallel_links_df = pd.DataFrame(filtered_parallel_links)

# Crear un conjunto de LINK_IDs únicos a partir de los resultados filtrados
unique_filtered_link_ids = set(filtered_parallel_links_df["LINK_ID_1"]).union(
    set(filtered_parallel_links_df["LINK_ID_2"])
)

# Mostrar los resultados corregidos
print("Número de LINK_IDs únicos en los resultados filtrados:")
print(unique_filtered_link_ids)
print(len(unique_filtered_link_ids))

Número de LINK_IDs únicos en los resultados filtrados:
{1073188352, 1336243968, 1115310850, 702992387, 1358112261, 1358112262, 1358112263, 1073188359, 1346455560, 1358112266, 702702090, 1346455563, 702657550, 1346455566, 1346455567, 1208943380, 1208943381, 1346733852, 1346733853, 702702109, 1295413532, 702661408, 1347012645, 1347012646, 702678312, 1347012652, 1295327533, 1199169583, 1347012657, 1347012659, 1347051062, 938804024, 847905081, 938804025, 1346736699, 1347915840, 1208943429, 711775046, 1201356871, 1201356872, 1175857993, 1201356874, 1201356875, 711775054, 1045028949, 848189271, 1045028952, 1201356889, 1376771417, 1376771418, 1346378845, 1295327583, 1296128099, 1296128100, 920544873, 1296128107, 1346876782, 1175918196, 1037681015, 708766584, 1041601407, 1041601410, 1159135875, 1159135876, 1372810370, 1201428104, 702693514, 1245007755, 798662551, 1044375197, 1296128165, 702711207, 1296128170, 1296128176, 1347045812, 1346480309, 1346480308, 1296128189, 1179841472, 702677954, 1179841476, 702677958, 1179257544, 1179257549, 1296517842, 1296517844, 711677911, 1179753176, 711677912, 1179753177, 1179753179, 1209089499, 702679773, 1295327199, 1346734818, 702990307, 1346734820, 759961829, 1346734821, 1246017763, 1246017764, 1208943337, 1208943338, 702661350, 702677996, 1179527149, 1179527150, 839667181, 1346605809, 702661363, 702661365, 939197430, 1159319799, 702655739, 1073188351}
115

### LINK_ID que son Incorrect Multiply Digitised attribution

In [ ]:
# Combinar los LINK_IDs únicos filtrados con los non_parallel_link_ids
all_unique_link_ids = unique_filtered_link_ids.union(non_parallel_link_ids)

# Mostrar los resultados finales
print("Número total de LINK_IDs únicos (incluyendo paralelos y no paralelos):")
print(all_unique_link_ids)
print(len(all_unique_link_ids))

Número total de LINK_IDs únicos (incluyendo paralelos y no paralelos):
{np.int32(1191296002), 702992387, np.int32(1041600516), 1346455560, 1346455563, 702657550, 1346455566, 1346455567, np.int32(937985053), np.int32(938938398), np.int32(920545310), np.int32(1159100449), np.int32(720474146), np.int32(1159100450), np.int32(938938401), 1347012645, 1347012646, np.int32(1336588325), np.int32(1336719400), np.int32(721416233), np.int32(1336719402), np.int32(702964777), 1347012652, np.int32(1328569387), np.int32(1328569388), 1199169583, np.int32(1347012654), 1347012657, np.int32(721416239), 1347012659, np.int32(1328569389), np.int32(1343805494), np.int32(792517688), np.int32(847922234), np.int32(1296154683), np.int32(1347915836), np.int32(847922235), np.int32(847922237), np.int32(1347915839), 1347915840, np.int32(1179766854), 1201356871, 1201356872, np.int32(847922246), 1201356874, 1201356875, np.int32(1346381899), np.int32(1346381900), np.int32(1346234443), np.int32(1346381904), np.int32(1346378833), np.int32(1346378835), np.int32(1346378836), 1045028949, np.int32(1346995283), np.int32(1175369814), 1045028952, 1201356889, np.int32(1346995284), np.int32(1346381914), 1346378845, np.int32(1346378846), np.int32(1296128095), 1296128099, 1296128100, np.int32(1039637609), 1296128107, np.int32(1039637612), np.int32(1159282797), np.int32(1296128116), np.int32(1296128117), np.int32(1382856822), 1372810370, 702693514, np.int32(1179610252), np.int32(704484495), np.int32(711798928), np.int32(936926358), np.int32(797934742), np.int32(797934745), np.int32(1296120986), np.int32(1346991260), np.int32(704484509), np.int32(1346991262), np.int32(1194219681), np.int32(1346991265), np.int32(1346991267), np.int32(1194219684), 1296128165, np.int32(702676133), np.int32(1296128169), 1296128170, np.int32(797934765), np.int32(797934767), 1296128176, np.int32(1338691761), 1346480308, 1346480309, np.int32(1338691764), np.int32(702698677), 1296128189, np.int32(1242590397), np.int32(1242590398), np.int32(1347421384), np.int32(1347421388), np.int32(1347421389), np.int32(1347421391), np.int32(1347421393), np.int32(702666973), np.int32(1346992349), np.int32(702666975), np.int32(848178402), 1246017763, 1246017764, 759961829, np.int32(848178403), np.int32(1296123111), np.int32(1347695848), np.int32(1346992362), np.int32(1346992364), np.int32(1347695853), np.int32(1179639023), np.int32(1347695857), np.int32(1346992371), np.int32(1346231540), np.int32(1347695860), np.int32(1346231542), 1159319799, np.int32(702655735), np.int32(702655736), np.int32(702655737), 702655739, np.int32(1346231544), np.int32(1346231547), np.int32(1346231545), np.int32(1346443524), np.int32(1346443529), np.int32(1337874707), np.int32(1158684948), np.int32(850416916), np.int32(1158684950), np.int32(1040985368), np.int32(1288995097), np.int32(1040985369), 1295413532, 702678312, 1295327533, np.int32(1347030320), np.int32(1197110577), np.int32(1158668595), 847905081, np.int32(1296241987), np.int32(1296241988), np.int32(1179631941), np.int32(1296241990), np.int32(702930253), np.int32(721102167), 1376771417, 1376771418, 1295327583, 1346876782, np.int32(797875570), 1037681015, np.int32(1295325568), np.int32(1295325569), np.int32(1159628178), np.int32(721216921), np.int32(1317718430), np.int32(711770529), np.int32(1125741987), 702711207, np.int32(1381283245), np.int32(1381283247), np.int32(1336367537), np.int32(1381283250), 1347045812, np.int32(1381283252), np.int32(702728631), np.int32(1176264122), np.int32(1347030464), np.int32(711770562), np.int32(1347030469), np.int32(1295325641), np.int32(1147003341), np.int32(1324588493), np.int32(702711248), np.int32(1347779027), np.int32(1197052374), np.int32(1347779030), np.int32(1347779031), 1209089499, np.int32(1347709403), np.int32(1335792092), np.int32(1347709405), np.int32(1347709406), np.int32(1295326684), np.int32(1347496416), np.int32(1295325669), np.int32(1347273193), np.int32(721295852), 839667181, np.int32(1044126193), np.int32(1341143540), 1073188351, 1073188352, np.int32(702656000), np.int32(1347699706), 1358112261, 1358112262, 1358112263, 1073188359, 1358112266, 702702090, np.int32(847943186), np.int32(702665243), 702702109, np.int32(798007839), np.int32(1179630112), np.int32(1179630115), np.int32(1119315492), np.int32(1119315493), np.int32(1119315494), np.int32(1244987943), np.int32(1119315495), np.int32(1159378482), np.int32(1159378483), np.int32(1337541173), 1347051062, np.int32(1159378485), np.int32(1347051065), np.int32(1348537914), 1346736699, np.int32(1347051068), np.int32(1242500671), np.int32(1242500674), np.int32(702729795), np.int32(721672778), np.int32(702686802), np.int32(702686804), np.int32(1176605270), np.int32(1180222050), np.int32(1180222051), 920544873, 1175918196, np.int32(1346001524), np.int32(704481908), np.int32(1044125300), np.int32(1296526966), np.int32(1296526969), np.int32(1335799418), np.int32(1296122492), np.int32(702682754), 1159135875, 1159135876, np.int32(1334461063), 1201428104, np.int32(704481929), np.int32(1336588328), np.int32(711807627), np.int32(721678991), np.int32(1377936019), np.int32(1179638425), np.int32(1382854297), 1044375197, np.int32(1044375199), np.int32(702704304), np.int32(1291984581), 1179257544, np.int32(1291984586), 1179257549, np.int32(1383143117), np.int32(702701263), 1296517842, 1296517844, np.int32(1383143124), 1179753176, 1179753177, np.int32(702661337), 1179753179, np.int32(1335856858), 702679773, np.int32(711804638), np.int32(711804640), np.int32(1346734817), 1346734818, np.int32(799514338), 1346734820, 1346734821, 702661350, np.int32(1197055719), np.int32(704492264), 1208943337, 1208943338, 1346605809, 702661363, np.int32(1159121651), 702661365, np.int32(1246827252), np.int32(1196798711), np.int32(1346605820), np.int32(1346605821), np.int32(1295326975), 1336243968, np.int32(1115310849), 1115310850, np.int32(1160898311), np.int32(704566034), 1208943380, 1208943381, 1346733852, 1346733853, 702661408, np.int32(702661412), np.int32(1346917163), np.int32(1346917164), np.int32(1346917168), np.int32(702722866), np.int32(1336142643), np.int32(702726964), np.int32(711775031), 938804024, 938804025, np.int32(1176291129), np.int32(711775034), np.int32(711775035), np.int32(711775036), np.int32(711775039), np.int32(711775040), np.int32(711775041), np.int32(799372097), 1208943429, 711775046, np.int32(792701766), np.int32(711775047), 1175857993, np.int32(792701768), np.int32(1175857994), 711775054, np.int32(1208943439), np.int32(1208943440), np.int32(1175841616), np.int32(1047073615), np.int32(702692176), np.int32(1194194767), np.int32(1194194768), np.int32(711761745), 848189271, np.int32(1246441297), np.int32(1194194769), np.int32(1194194770), np.int32(1208943453), np.int32(711775069), np.int32(1175841633), np.int32(1379944294), np.int32(848044903), np.int32(1379944295), np.int32(1379944296), np.int32(1346984815), np.int32(1329646448), np.int32(721126259), np.int32(1346986868), np.int32(1041601398), 708766584, np.int32(1041601402), np.int32(1346012027), 1041601407, np.int32(711775103), np.int32(1346043775), 1041601410, np.int32(1346043777), np.int32(1196611461), 1245007755, np.int32(798662543), np.int32(702917523), np.int32(1295322004), np.int32(1295322005), 798662551, np.int32(798662552), np.int32(1295322011), np.int32(1295322012), np.int32(915356573), np.int32(702677947), np.int32(702721981), np.int32(1346991039), 1179841472, np.int32(702721985), 702677954, 1179841476, np.int32(702721988), 702677958, np.int32(702721993), np.int32(702721994), np.int32(1012436943), 711677911, 711677912, np.int32(711677914), 1295327199, np.int32(1209176031), np.int32(1336156129), 702990307, np.int32(1196922852), np.int32(1196922853), np.int32(1196922855), np.int32(1295326184), np.int32(702722024), np.int32(702722026), 702677996, 1179527149, 1179527150, np.int32(1288993772), np.int32(702659566), np.int32(702659567), np.int32(1288993773), np.int32(702722029), 939197430, np.int32(1347699704), np.int32(798707706), np.int32(1347699707), np.int32(799479806)}
419

### Para LINK_IDs que son No POI in reality

In [ ]:
def classify_non_existent_pois(df_mm_sections):
    non_existent_results = {}

    for sec, df in df_mm_sections.items():
        # Filtramos solo las filas con al menos un POI válido
        df_filtered = df[df["POI_ID"].notna()].copy()

        # Creamos columna vacía para la clasificación
        df_filtered["POI_STATUS"] = "Valid"
        df_filtered["MARKED_FOR_DELETION"] = False


        # Caso 1: ST_TYP_BEF ≠ ST_TYP_AFT
        cond_type_changed = df_filtered["ST_TYP_BEF"] != df_filtered["ST_TYP_AFT"]

        # Caso 2: MULTIDIGIT + (BRIDGE o TUNNEL o RAMP)
        cond_infra_issue = (
            (df_filtered["MULTIDIGIT"] == "Y") &
            (
                (df_filtered["BRIDGE"] == "Y") |
                (df_filtered["TUNNEL"] == "Y") |
                (df_filtered["RAMP"] == "Y")
            )
        )

        # Aplicamos ambas condiciones
        df_filtered.loc[cond_type_changed | cond_infra_issue, "POI_STATUS"] = "Non Existent POI"
        df_filtered.loc[cond_non_existent, "MARKED_FOR_DELETION"] = True

        # Guardamos resultados por sección
        non_existent_results[sec] = df_filtered

    return non_existent_results

classified_poi_dict = classify_non_existent_pois(prueba)